<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="log">

    <script th:src="@{/js/dateTimeService.js}"
            src="../js/dateTimeService.js"></script>

    <!-- main function that loads logView.html -->
    <div ng-app="logsApp" ng-controller="logsCtrl as ctrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <!-- log entry header -->
                        <div class="panel-heading">
                            <h3>Visit Histories</h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-bordered" name="log_table">
                                
                                <!-- table column headers -->
                                <thead>
                                <tr>
                                    <th>Visit Type</th>
                                    <th>Patient Name</th>
                                    <th>Disease Name</th>
                                    <th>Date & Time</th>
                                    <!-- <th ng-if="ctrl.isPatient">Role</th> -->
                                </tr>
                                </thead>

                                <!-- log entry for every row, ordered by date -->
                                <tbody>
                                <tr name="logTableRow" ng-repeat="l in ctrl.logs" ng-show="ctrl.username === l.hcp.username">
                                    <td name="type">{{l.type}}</td>
                                    <td name="patient">{{l.patient.username}}</td>
                                    <td name="disease">{{l.diagnoses[0].note}}</td>
                                    <td name="date">{{l.date | date : 'EEE MMM dd
                                        h:mm:ss a yyyy'}} <button class="btn btn-success btn-edit" ng-click="ctrl.openEditModal(visit)" style="
                                        float: right;
                                        width: 49.46px; 
                                        height: 30.5px; 
                                        ">Edit</button>
                                    </td>
                                    <!-- <td ng-if="ctrl.isPatient" name="roleCell">{{l.role}}</td> -->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- 모달 창 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <!-- 모달 내용 -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Ophthalmology Surgery Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- visit 객체의 속성을 사용하여 데이터를 표시 -->
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Surgery Date:</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="date" class="form-control" name="surgeryEntry" ng-model="visit.surgeryEntry" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Visual Acuity Results:</label>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OD:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="visualAcuityOD"
                                ng-model="visit.visualAcuityOD" required></input>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OS:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="visualAcuityOS"
                                ng-model="visit.visualAcuityOS" required></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Sphere:</label>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OD:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="sphereOS"
                                ng-model="visit.sphereOD" required></input>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OS:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="sphereOS"
                                ng-model="visit.sphereOS" required></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Cylinder:</label>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OD:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="cylinderOD"
                                ng-model="visit.cylinderOD"></input>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OS:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="cylinderOS"
                                ng-model="visit.cylinderOS"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Axis:</label>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OD:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="axisOD"
                                ng-model="visit.axisOD"></input>
                        </div>
                        <div class="col-xs-1">
                            <span id="helpBlock" class="help-block">OS:</span>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" name="axisOS"
                                ng-model="visit.axisOS"></input>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Surgery Type:</label>
                        </div>
                        <div class="col-xs-6 radio-box">
                            <div class="form-check">
                                <ul style="list-style: none;">
                                    <li ng-repeat="ophthtype in ophthsurgery"><label>
                                            <input type="radio"
                                            ng-model="$parent.visit.surgeryType"
                                            name="surgeryType" value="{{ophthtype}}"
                                            required="true" /> {{ophthtype}}
                                    </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label>Notes:</label>
                            <textarea name="surgeryNotes" ng-model="visit.surgeryNotes"
                                class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.saveChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>



        <script>

            var App = angular.module('logsApp',['dateTimeServices']);

            angular.module("logsApp").controller('logsCtrl', function($scope, $http, $filter, dateTimeService) {
                var self = this;
                self.logs = [];
                self.username = "";
                self.type = "";
                self.jobs = [];
                self.hcp = "";
                self.isPatient = false;
                self.numPages = 1;
                self.requestParams = {startDate: "", endDate: "", page: 1, pageLength: 10};
                self.pageString = "Page: 1";

                self.startDate = "";
                self.endDate   = "";

                self.getUserInfo = function (){
                    $http.get("/iTrust2/api/v1/curPersonnel", self.requestParams).then(function (response) {
                        // self.userdata = response.data;
                        self.username = response.data.username;
                        self.jobs = response.data.roles;
                        console.log(self.jobs);
                        console.log(self.username);
                    });
                }

                self.updateTable = function() {
                    $http.get("/iTrust2/api/v1/officevisits", self.requestParams).then(function (response) {
                        self.logs = response.data;
                        console.log(self.logs);
                        if(self.logs.length > 0){
                            self.type = self.logs[0].type;
                            console.log(self.type);
                            self.hcp = /*[[${#httpServletRequest.remoteUser}]]*/null;
                            console.log(self.hcp);
                            // self.isPatient = self.logs[0].isPatient;
                            // self.numPages = self.logs[0].numPages;
                        }else{
                            self.numPages = 1;
                        }
                        self.updatePageString();
                    });
                }
                

                // 수정 모달 열기
                self.openEditModal = function(log) {
                    // 모달을 열기 전에 로직을 추가할 수 있음
                    // 수정할 데이터 등을 가져오거나 설정할 수 있음
                    // 예: $scope.editingLog = log;

                    $('#editModal').modal('show'); // Bootstrap 모달 창을 엽니다.
                };

                // 수정 내용 저장
                self.saveChanges = function() {
                    // 수정된 내용을 저장하는 로직을 추가
                    // 예: 수정된 내용을 서버로 전송하거나 데이터를 업데이트하는 등의 작업 수행

                    $('#editModal').modal('hide'); // 모달 창을 닫습니다.
                };


                self.updatePageString = function(){
                    self.pageString = "Page: " + self.requestParams.page + " of " + self.numPages;
                }

                self.nextPage = function(){
                    if(self.requestParams.page >= self.numPages) return;
                    self.requestParams.page++;

                    self.updateTable();
                }

                self.prevPage = function(){
                    if(self.requestParams.page <= 1) return;
                    self.requestParams.page--;

                    self.updateTable();
                }

                self.searchByDate = function(){
                    self.requestParams.page = 1;
                    self.pageString = "Page: " + self.requestParams.page;

                    self.requestParams.startDate = self.startDate.toISOString();
                    self.requestParams.endDate = self.endDate.toISOString();

                    self.updateTable();
                }

                var checkValidDateRange = function(dateRange) {
                    var err = [];
                    if (!dateTimeService.isValidDate(dateRange.startDate)) {
                        err.push("Start date is in an invalid format");
                    }
                    if (!dateTimeService.isValidDate(dateRange.endDate)) {
                        err.push("End date is in an invalid format");
                    }
                    if (dateRange.startDate.getFullYear() > dateRange.endDate
                        .getFullYear()) {
                        err.push("Start date must come before end date.");
                    }
                    if (dateRange.startDate.getFullYear() == dateRange.endDate
                            .getFullYear()
                        && dateRange.startDate.getFullMonth() > dateRange.endDate
                            .getMonth()) {
                        err.push("Start date must come before end date.");
                    }
                    if (dateRange.startDate.getFullYear() == dateRange.endDate
                            .getFullYear()
                        && dateRange.startDate.getFullMonth() == dateRange.endDate
                            .getMonth()
                        && dateRange.startDate.getDate() > dateRange.endDate
                            .getDate()) {
                        err.push("Start date must come before end date.");
                    }

                    return err.join(". ");
                }

                self.getUsername();
                self.updateTable();

                /*
                $scope.loadTable = function() {
                    $http.get("/iTrust2/api/v1/logs").then(function(response) {
                        $scope.logs = response.data;
                        $scope.message = "";
                    }, function(rejection) {
                        $scope.logs = [];
                        $scope.message = "Could not display logs";
                    });
                }

                $scope.searchLogs = function() {
                    var err = checkValidDateRange($scope.dateRange);
                    if (err) {
                        $scope.errorSearching = err;
                        return;
                    }
                    $http.get("/iTrust2/api/v1/logs").then(function(response) {
                        $scope.logs = response.data;
                        $scope.message = "";
                        for (log in $scope.logs) {
                            if (log.getTime() < $scope.dateRange.startDate
                                    && log.getTime() > $scope.dateRange.endDate) {
                                var index = $scope.logs
                                        .indedOf(log);
                                $scope.logs
                                        .splice(index, 1);
                            }
                        }
                    },
                    function(rejection) {
                        $scope.logs = [];
                        $scope.errorGetting = "Could not obtain log table";
                    });
                }
                */

            });
        </script>
    </div>
</div>
</html>
