<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Office Visits</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">


		<script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("pastApp", []);
	  
      app.controller('pastCtrl', function ($scope, $http) {
        $scope.pasts = [];
        $scope.pattern = /^\d{4}-\d{4}-\d{2}$/;

        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/officevisits/myofficevisits").then(
            function (response) {
              $scope.pasts = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.pasts = [];
              $scope.message = "Could not display Past Office Visit";
            });
        }
		
        $scope.loadTable();
      });
	  function openPopup(message) {
      		alert(message.);
    	}
			/*]]>*/
    </script>

		<div ng-app="pastApp" ng-controller="pastCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>Patient View Past Office Visit</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>My Office Visits:</caption>
									<thead>
										<tr>
											<th>Type</th>
											<th>Hcp Name</th>
											<th>Disease Name</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr name="pastTableRow"
											ng-repeat="p in pasts | orderBy: 'date'"
											prescriptionId={{p.id}}>
											<td name="typeCell">{{p.type}}</td>
											<td name="nameCell">{{p.hcp.username}}</td>
											<td name="diseaseCell">{{p.diagnoses[0].note}}</td>
											<td name="dateCell">{{p.date | date : 'MM/dd/yyyy'}}</td>
											<td name="date">{{p.date | date : 'EEE MMM dd
												h:mm:ss a yyyy'}} <button class="btn btn-success btn-edit" ng-click="ctrl.openEditModal(visit)" style="
												float: right;
												width: 49.46px; 
												height: 30.5px; 
												">Edit</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

</html>